# Specification document
*.pdf

# Python virtual environment
.venv/

# Python bytecode cache
__pycache__/
*.py[cod]

# Runtime artifacts
airnode.pid
airnode.log
airnode.log.err
static/generated/
.airnode-auth.json
.airnode_upload_temp/



# Environment variables
.env

# OS artefacts
Thumbs.db
.DS_Store
